{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="d-flex flex-column flex-fill justify-content-center align-items-center">
	<div class="cd-flex w-100 align-items-start">
        <h1 class="p-4 mb-0">{% trans "Password Reset" %}</h1>
    </div>
	<div class="d-flex flex-column flex-fill w-100 reset-container-gd justify-content-center align-items-center">

	    {% if user.is_authenticated %}
	    {% include "account/snippets/already_logged_in.html" %}
	    {% endif %}

		<p>{% blocktrans %}We have sent you an e-mail. Please <a href = "mailto:info@geodirectory.ie">contact us</a> if you do not receive it within a few minutes.{% endblocktrans %}</p>
    </div>
</div>
{% endblock %}
