{% extends "trottoir_base.html" %}
{% load i18n static compress %}

{% block content %}
<div id="home">
    <div class="row row-height">
      <div class="col-sm-4 col-custom pr0">
        <div class="img-box">
          <img src="{% static 'controls/img/seedling-one.png' %}" width="200px"  alt="about">
        </div> <!-- end img box -->
      </div>
      <div class="col-sm-8 col-custom">
        <div class="about-text">
          <p class="demo">Full control of your devices through the cloud to ensure that you can monitor and manage from anywhere!</p>
        </div>
      </div> <!-- end col -->
    </div> <!-- end row -->
    <div class="row row-height">
      <div class="col-sm-4 col-custom pr0">
        <div class="img-box">
          <img src="{% static 'controls/img/seedling-two.png' %}" width="200px" alt="about">
        </div> <!-- end img box -->
      </div>
      <div class="col-sm-8 col-custom">
        <div class="about-text">
          <p class="demo">Flexible setup allows you to add new controls (pump, solenoid, etc) with ease!</p>
        </div>
      </div> <!-- end col -->

    </div> <!-- end row -->
    <div class="row row-height">
      <div class="col-sm-4 col-custom pr0">
        <div class="img-box">
          <img src="{% static 'controls/img/seedling-three.png' %}" width="200px" alt="about">
        </div> <!-- end img box -->
      </div>
      <div class="col-sm-8 col-custom">
        <div class="about-text">
          <p class="demo">Monitor the local environment to ensure optimal control for you garden!</p>
        </div>
      </div> <!-- end col -->
    </div> <!-- end row -->
</div>
{% endblock content %}
