#navbarNav {
  background-color: #63B44B;
  width: 100%;
  border-radius: 25px;
  border-style: solid;
  border-color: brown;
  padding-bottom: 4px;
}

#nav-container {
  width: 100%;
  display: flex;           /* establish flex container */
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;     /* center items horizontally, in this case */
}

.nav-item {
  font-size: 130%;
  margin-left: 30px;
  margin-right: 30px;
  border-bottom: 2px solid #63B44B;
}
.nav-link:hover, .nav-link.active {
  border-bottom: 2px solid white;
}

.nav-link {
  padding-bottom: 2px !important;;
}

.color-white {
  color: white !important;
}

.back-color-green {
  background-color: green !important;
}

@media only screen and (max-width: 450px) {
  .header-logo img {
    max-width: 100%;
  }
}

/* Home */
.row-height {
  display: flex;
}

.pr0 {
  padding-right: 0;
}

/*.col-custom {
  border: 1px solid blue;
}*/

.demo {
  padding-top: 2em;
  font-size: 24px;
}

.img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-box img {
  object-fit: cover
}
/* End Home */
/* Used generally */
.pointer:hover {
  cursor: pointer;
}

.btn-orange-gd {
  background-color:  rgba(250, 141, 41, 1);
  color: white;
  min-width: 100px;
  border-radius: .35rem;
}

.btn-green-gd {
  background-color: rgba(108, 194, 74, 1);
  color: white;
  min-width: 100px;
  border-radius: .35rem;
}
/* End used generally */

/* About page */
#about {
  padding: 16px;
}

.help_page {
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 17pt;
    font-size: 15px;
    text-align: justify;
}

.help_question {
    color: blue;
}

.help_answer {
    display: none;
}
/* End About page */
